<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
		<add id="MGS_NineTheme::ninththeme" title="Ninth Theme Settings" module="MGS_Mpanel" sortOrder="50" parent="MGS_Mpanel::mgs_elements" action="adminhtml/system_config/edit/section/ninththeme" resource="MGS_NineTheme::ninththeme"/>
    </menu>
</config>
